
<nav class="navbar">
    <ul class="nav navbar-nav menu-item">
      <li routerLinkActive='active'><a routerLink="dashboard" class="menu-item-text">DashBoard</a></li>
      <li routerLinkActive='active'><a routerLink="employee" class="menu-item-text">Employee</a></li>
      <li routerLinkActive='active'><a routerLink="service" class="menu-item-text">Services</a></li>
      <li routerLinkActive='active'><a routerLink="Profile" class="menu-item-text">Profile</a></li>
      <li routerLinkActive='active'><a routerLink="Profile" class="menu-item-text">Inbox</a></li>
    </ul>
</nav>