.card-btn{
    display: flex;
    
}

.test{

margin-left: auto;
}
.test>button{

background-color: red;

}
.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
    }
    .modal-notify .modal-content {
    border-radius: 3px;
    }
.testform{
    padding-left: auto;


}

.testtable{

    margin-left: 10px;
}